/* set universal style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* set some defaut style in body tag */
body {
  font-family: 'Open Sans', sans-serif;

}

/* set style in main container inside the body tag */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}

/* set style  of left container and right container inside the main container used flex properties */
.left-container,
.right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}

/* set width and height and bg color of left container */
.left-container {
  width: 50vw;
  height: 100vh;
  background-color: #03a9f4;
}

/* set style of img tag inside of left container */
.left-img {
  width: 40rem;
  height: 30rem;
  margin-left: 2rem;
}

/* set width and height and bg color of left container */
.right-container {
  width: 50vw;
  height: 100vh;
  font-size: 1rem;
  display: flex;
  justify-content: left;
  align-items: baseline;
  flex-direction: column;
  background-color: aliceblue;

}

/* used flext properties on child container and also assined width */
.form-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 4rem;
  width: 50vw;


}

/* set style fo heading  inside form main container */
.form-heading-container h2 {
  font-size: 2rem;
}

/* set style fo heading  inside form main container */
.form-heading-container h3 {
  font-size: 1rem;
  color: rgba(105, 105, 105, 0.403);

}

/* set margin of (form-item ) class */
.form-item {
  margin-top: 2rem;
  margin-left: 2rem;

}

/* set style on input tag */
.form-item input {
  width: 35rem;
  height: 5rem;
  border-radius: 1rem;
  border: none;
}

/* stye on placeholder properties text which is inside the input tag */
.form-item input[placeholder] {
  font-size: 1.2rem;
  color: rgba(105, 105, 105, 0.544);
  padding-left: 1rem;
  letter-spacing: .2rem;
}

/* style on password-container */
.Password-container a {
  margin-left: 27rem;
  text-decoration: none;
  color: black;
}

/* style on button inside the button container */
.button-container button {
  margin-top: 2rem;
  width: 35rem;
  height: 5rem;
  border-radius: 1rem;
  border: none;
  background-color: #03a9f4;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  letter-spacing: .2rem;
}

/* style of "p" tag which is inside the register-container */
.register-container p {
  margin-left: 10rem;
  margin-top: 3rem;
  font-size: .9rem;
}

/* style of "p" tag which is inside the register-container */
.register-container p a {
  text-decoration: none;
  color: #03a9f4;
  margin-left: .5rem;
}

/* end */